html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video { 
margin: 0; 
padding: 0; 
border: 0; 
font-size: 100%; 
font: inherit; 
vertical-align: baseline; 
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   50% { transform: rotate(0deg); }
   55% { transform: rotate(5deg); }
   65% { transform: rotate(-5deg); }
   70% { transform: rotate(0deg); }
}

header {
    display: block;
    height: 100px;
    width: 100%;
    background:#18121E;
    color: #EAC67A;
    border-bottom: 2px dotted #984B43;
}

header h1 {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
    padding-top: 10px;
    margin-bottom: 12px;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    background: #984B43;
    border-radius: 50%;
    width: 70px;
    height: 28px;
    text-align: center;
    color: #18121E;
    animation: none;
    
}

nav a:hover {
    display: inline-block;
    animation: wiggle 2s infinite;
  }

.s1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #233237;
    color: #EAC67A;
    padding: 3px;

}

img {
    box-sizing: border-box;
    border: 2px solid #984B43;
}


.info {
    display: inline;
    text-align: center;


}

.info h2, .info a, .info p {
    margin: 5px;
}

.s2 {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-items: center;
    padding: 10px;
    background: #233237;
    color: #EAC67A;
}

.s2 img{
    box-sizing: border-box;
    max-height: 65%;
    max-width: 65%;
}


footer {
    height: auto;
    text-align: center;
    background: #18121E;
    color: #EAC67A;
    border-top: 2px dotted #984B43;
}